@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Tilt;
    src: url(/assets/TiltPrism-Regular.ttf) format('truetype');
}
@font-face {
    font-family: MuolLight;
    src: url(/assets/KhmerOSmuollight.ttf) format('truetype');
}